version: '3.8'

services:
  ollama:
    build: ./docker/ollama
    container_name: ollama-phi3
    ports:
      - "11434:11434"
    volumes:
      - ./ollama_data:/root/.ollama
    restart: unless-stopped
    networks:
      - app-net
    environment:
      - OLLAMA_HOST=http://ollama:11434

  chroma:
    image: chromadb/chroma
    volumes:
      - ./chroma_data:/data
    ports:
      - "8000:8000"
    networks:
      - app-net
    environment:
      - IS_PERSISTENT=TRUE
      - ANONYMIZED_TELEMETRY=FALSE

  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    container_name: fast_api
    ports:
      - "80:80"
    volumes:
      - ./uploads:/opt/app/src/uploads
      - ./uploaded_videos:/app/src/uploaded_videos
    depends_on:
      - chroma
      - ollama
    networks:
      - app-net

networks:
  app-net:
